name: Deploy Docker to EC2 via SSM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy container to EC2
      run: |
        aws ssm send-command \
          --targets "Key=InstanceIds,Values=i-06397a73735f992c8" \
          --document-name "AWS-RunShellScript" \
          --comment "Deploy NotificacaoPubSub via GitHub Actions" \
          --parameters 'commands=[
            "aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 488639172465.dkr.ecr.us-east-1.amazonaws.com",
            "docker pull 488639172465.dkr.ecr.us-east-1.amazonaws.com/notificacaopubsub-api:latest",
            "docker stop notificacaopubsub || true",
            "docker rm notificacaopubsub || true",
            "docker run -d -p 80:5000 --name notificacaopubsub -e DOTNET_RUNNING_IN_CONTAINER=true -e DOTNET_URLS=http://0.0.0.0:5000 488639172465.dkr.ecr.us-east-1.amazonaws.com/notificacaopubsub-api:latest"
          ]'
